<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Website</title>
</head>

<body>
    {{> header}}
    <h2>{{toUppercase welcomeMsg}}</h2>
    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>

    {{> footer}}
</body>

</html>